bin/
gen/
local.properties
.idea
.gradle
build/
/LearningChineseGame.iml
/projectFilesBackup/
assets/
/gradlew
/gradlew.bat
/gradle.properties
/project.properties
/proguard-project.txt
/ant.properties
/build.xml
